.container
    .row
        .col-md-8.col-sm-10.col-xs-12.col-lg-offset-0
            .box
                h1.title.orange RFP
                a(href="files/Digitas Proposal for Audi of America_8.6.18.pdf" target="_blank" download)
                    span.text Download our Proposal here
