.fullscreen-bg
    video.fullscreen-bg__video(autoplay, muted, loop)
        source(src="videos/video-test.mp4", type="video/mp4")

.container
    .row
        .col-md-4.col-sm-6.col-xs-8.col-lg-offset-0
            .box.small.mute-btn.muted

                img#volume-icon(src="images/mute-icon.svg", width="40px")
                p#volume-text Volume Off