.fullscreen-bg
    //video.fullscreen-bg__video(autoplay, muted, loop)
        //source(src="https://www.youtube.com/watch?v=-QlT3tK5XVk", type="video/mp4" width="100%")
    .vimeo-container
        iframe.fullscreen-bg__video(src="https://player.vimeo.com/video/286419171?autoplay=1" frameborder="0" webkitallowfullscreen allowfullscreen)