//.fullscreen-bg
    //video.fullscreen-bg__video(autoplay, muted, loop)
        //source(src="videos/hero-v8-2Mbps-BW.mp4", type="video/mp4")

.container
    .row
        .col-md-6.col-sm-10.col-xs-12.col-lg-offset-0
            .box
                // img.img-responsive(src="images/Digitas_Logos_2018_Digitas_Horizontal_2018-White.png?v"+timestamp)

                h1.title.pink= welcome.title

                h1.howdy Howdy
                h1.brand-title Whole Foods

                each p in welcome.text
                    p!= p

                .clearfix
