//.fullscreen-bg
    //video.fullscreen-bg__video(autoplay, muted, loop)
        //source(src="videos/hero-v8-2Mbps-BW.mp4", type="video/mp4")

.container
    .row
        .col-md-6.col-sm-10.col-xs-12.col-lg-offset-0
            .box.welcome-section

                h1.title.pink WELCOME

                h1.howdy Dear
                h1.brand-title Whole Foods

                p We are thrilled to have this opportunity to re-engage. We love working with you. We are fierce Whole Food enthusiasts. We believe in your mission to nourish people and the planet.
                p But above all, we’re built for this very ask: “Bring ideas to the table that only Whole Foods Market can pull off—work you would not bring to others.”
                p We thrive on bold ideas that change behaviors, get results, and leave others saying, “Damn, I wish we’d thought of that.” From Taco Bell’s Blackout to American Express’s Outside In to JennAir’s Bound by Nothing, we’re at our best when the desired outcomes are most ambitious.
                p And we’re fully equipped—and excited—to deliver those ambitious outcomes for Whole Foods Market. Here’s why:
                p.bold We’re a full-service agency with expertise in creating radical connections across consumers, brands and channels.
                p We get you, Whole Foods. We share your brand values, and we know the ins & outs of digital. We can nail the basics, yes, and bring the magic. We drive loyalty—we helped Dunkin Donuts achieve a 315% increase in their DD Perks memberships. We drive traffic—our overhaul of Goodyear’s digital presence resulted in a 73% increase in site traffic. And we design and build responsive experiences that get results—for Eureka, a Johnson Outdoors brand, our mobile-first e-commerce experience drove a 12% revenue increase and 174% increase in conversion rate.
                p.bold We truly understand what people do, not just what they say they do.
                p We know that data is just people in disguise—and we’ve always examined what people actually do, not simply what they say they do. With the ability to leverage the Amazon stack, we can deconstruct these behaviors with even more nuance to create the most on-point user-centric digital journeys. We’re relentless about testing and learning—continuously iterating to improve efficiency across audiences and geographies. This helps us effectively put the right content in front of the right people at the right time and place.
                p.bold We deliver flawless work at speed.
                p On average, we produce 20–30 prototypes a month, deliver technology to complete over 250 commerce & CMS installs, and create beautifully designed experiences that set our clients’ brands apart from the competition. We go fast — from sketches to prototypes in 10 days or less — with lean, nimble teams that complement yours. We got the sleek, dynamic new Stoli.com up and running in less than 3 months—in agile speak, that’s just 6 sprints!
                p We’re already fired up thinking through ways to make your digital experience more magical and more impactful. We look forward to talking with you further.
                p Sincerely,
                .author
                    p.bold.inline Alyse Schwartz,
                    p.inline Relationship Lead
                .author
                    p.bold.inline Andrew Carlson,
                    p.inline Chief Creative Officer


                .clearfix
