//.fullscreen-bg
    //video.fullscreen-bg__video(autoplay, muted, loop)
        //source(src="videos/hero-v8-2Mbps-BW.mp4", type="video/mp4")

.container
    .row
        .col-md-8.col-sm-10.col-xs-12.col-lg-offset-0
            .box
                // img.img-responsive(src="images/Digitas_Logos_2018_Digitas_Horizontal_2018-White.png?v"+timestamp)

                h1.title.pink= welcome.title

                h1.howdy Howdy
                h1.brand-title Whole Foods

                each p in welcome.text
                    p!= p

                .row(style="margin: 10px 0")
                    .col-xs-4.col-md-3
                        img.img-responsive.img-circle(src="images/team/Robert_Guay.jpeg", width=100)

                    .col-xs-8.col-md-9
                        p Robert Guay<br>Relationship Lead<br>Digitas

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://player.vimeo.com/video/283462471", width="640", height="360" frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

                .clearfix
