.container
    .row
        .col-md-8.col-sm-10.col-xs-12.col-lg-offset-0
            .box
                h1.title.yellow= work.title

                each item in work.items
                    .row.work-card
                        .col-xs-12.work-card-left
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(src=item.video width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

                        .col-xs-12.work-card-right
                            .title.dunkin=item.title
                            
                            p.subtitle Video password: digitas

                            h3 Challenge

                            p Dunkin’ Donuts had brand affinity—but it needed to reinforce brand preference. They called on us to create and introduce DD Perks—a highly personalized loyalty program that we could deliver at scale. The efficacy would be measured through 4 objectives:

                            .list
                                p 1. Improve retention
                                p 2. Collect customer level data
                                p 3. Create a channel for more targeted offers
                                p 4. Exceed customer expectations for digital touchpoints

                            h3 Solution

                            p We designed DD Perks not simply as a loyalty program—but as a way to impact Dunkin’ Donuts entire customer experience, including site, email, app, social, and POS. Our solution works across a national footprint of 8,000 stores, many of them franchises.

                            p Real-time data is at the core—giving us nuanced visibility into behaviors so we can create a highly personalized and elevated service experience. We develop personal portraits of customer behavior and their unique preferences to inform each targeted multi-channel campaign.

                            p Anchored by these underlying consumer portraits, we strategically addressed the role of each channel in the consumer journey.

                            ul.solution
                                li 
                                    span Site:
                                    |   Thanks to our end-to-end work, the new DunkinDonuts.com delivers a compelling, relevant and easily navigable user experience for visitors. It’s mobile-first and modular, serving up the best experience regardless of the visitor’s device. It offers localized content, so a visitor will receive specific offers, promotions and products based on their geography. To accommodate menu updates and ever-changing business needs, we implemented an Adobe AEM CMS system that enables the Dunkin’s site to stay flexible and up-to-date. For responsiveness, no detail went unnoticed—we addressed every breakpoint to create a highly fluid, well-planned user experience. Our research showed that hover-based navigations consistently frustrate users, particularly those on touch-screen devices, so we created a click-based global navigation that provided a cleaner, more user-friendly interface across devices. To fine-tune the experience and upsell visitors, the site is consistently customized based on purchase behaviors over time.

                                li
                                    span Email:
                                    |   inline We push customer segments to the Salesforce Marketing Cloud, sync them with the loyalty database, and deliver offers accordingly.  We then send behavioral data back into the platform to inform the paths of individual customer journeys. We use Movable Ink, a technology partner, to make emails feel delightfully personalized—for example, we can pull as many as nine data points into the top section of an email to show a subscriber’s personal purchase history. We added whimsical branded touches—including animated GIFs—and transformed each "zero” to resemble a donut with sprinkles. We also partnered with Scratch-It to tease offers, driving significant lifts in email engagement and loyalty enrollment.

                                li
                                    span Mobile App: 
                                    |   We designed and built Dunkin’s “On-the-Go” mobile app to make the Dunkin experience a natural extension of consumers’ lives. The app allows users to place a mobile order up to 24 hours in advance—then they simply show up at the store, skip the line and grab their order. Payment is done through the app in advance. For added convenience, the app saves customers’ favorites, which they can then edit as desired. The app also has built-in smart functionality to provide users with personalized content based on the time of day and their ordering behavior, and a dynamic rewards tracker shows the points they've earned and their progress towards earning the next free beverage.

                            h3 Results
                            ul
                                li 8 Million active DD Perks members in under 3 years
                                li 315% increase in active DD Perks members from 2015 to 2018
                                li 12% of annual sales made through the On-the-Go mobile app in 2018
                                li 3,566 unique personalized product recommendations 
                                li Improved in-store operations with time saved with app users

                            a(href="files/Dunkin_Customer_Journey.jpg" target="_blank")
                                .dunkin-thumbnail

                            a.case(href="files/DunkinDonutsCaseStudy.pdf" target="_blank" download) Download full case study
